@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes color {
  0% {
    background-color: rgba(146, 76, 76, 0.519);
  }
  25% {
    background-color: rgba(187, 187, 95, 0.545);
  }
  50% {
    background-color: rgba(91, 91, 226, 0.499);
  }
  100% {
    background-color: rgba(48, 112, 48, 0.512);
  }
}
.content {
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 0px;
  padding-left: 50px;
  gap: 15px;
  background-color: #000;
  color: #fff;
  margin-bottom: 10px;
  background-image: url("../img/Zebra’s Ketchup Pasta.jpg");

  .introduce {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 30px;
    border-radius: 20px;
    animation: color linear 5s infinite;
    color: #fff;
    margin-bottom: 10px;
    .title {
      position: absolute;
      font-size: 100px;
      transition: 0.7s;
    }
    .comment {
      position: absolute;
      display: flex;
      opacity: 0;
      font-size: 20px;
      text-align: center;
      transition: 0.5s;
    }
    &:hover {
      .title {
        transform: translate(0px, -55px);
      }
      .comment {
        opacity: 1;
        transform: translate(0px, 70px);
      }
    }
  }
  .character {
    width: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  .box {
    opacity: 0.9;
    width: 65%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 15px;
    background-color: #9d9d9d;
    color: #000;
    border-radius: 12px;
    transform: scale(1);
    transition: 0.5s;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
    .box-name {
      width: 100%;
      display: flex;
      padding: 15px;
      justify-content: center;
      background-color: #d0d0d0;
      border-radius: 10px 10px 0px 0px;
      font-size: 30px;
      font-weight: bold;
    }
    .box-value {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .box-comment {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 20px;
        width: 100%;
        background-color: #d0d0d0;
        border-radius: 0px 0px 10px 10px;
      }
    }
  }
}
